<!-- <form action class="formulario">

        <label for="Nome" class="label1">Nome:</label>
        <input type class="input1" name="Nome" id="Nome">

        <label for="CPF" class="label1">CPF:</label>
        <input type class="input1" name="CPF" id="CPF">

        <label for="Data de nascimento" class="label1">Data de nascimento:</label>
        <input type class="input1" name="Data de nascimento" id="Data de nascimento">

        <label for="Telefone" class="label1">Telefone:</label>
        <input type class="input1" name="Telefone" id="Telefone">

        <label for="Como conheceu a barbearia" class="label1">Como conheceu a barbearia:</label>
        <input type class="input1" name="Como conheceu a barbearia" id="Como conheceu a barbearia"> -->

<!-- <button class="botao"> Salvar </button> -->

<!-- <button mat-raised-button>Cadastrar</button>

    </form> -->


<mat-form-field appearance="fill">
  <mat-label>Nome Completo</mat-label>
  <input matInput placeholder="Placeholder">
  <mat-icon matSuffix>*</mat-icon>
  <mat-hint>Nome e sobrenome</mat-hint>
</mat-form-field>


<mat-form-field appearance="fill">
  <mat-label>CPF</mat-label>
  <input matInput placeholder="Placeholder">
  <mat-icon matSuffix>*</mat-icon>
  <mat-hint>000.000.000-00</mat-hint>
</mat-form-field>


<mat-form-field appearance="fill">
  <mat-label>Data de Nascimento</mat-label> 
  <input matInput placeholder="Placeholder">
  <mat-icon matSuffix>*</mat-icon>
  <mat-hint>00/00/0000</mat-hint>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Como conheceu a barbearia</mat-label>
  <input matInput placeholder="Placeholder">
  <mat-icon matSuffix>*</mat-icon>
  <mat-hint>Livre</mat-hint>
</mat-form-field>

<a mat-raised-button target="_blank">Cadastrar</a>


<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Buzz Cut</mat-card-title>
    <mat-card-subtitle>15 - 30 minutos</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="src\assets\buzz cut.jpg" alt="Buzz Cut">
  <mat-card-content>
    <p>
      Corte de comprimento curto uniforme realizado com máquina e tesoura. Ideal para quem procura um corte rápido e fácil.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>AGENDAR</button>
  </mat-card-actions>
</mat-card>


<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Fade/Degradê</mat-card-title>
    <mat-card-subtitle>20 - 45 minutos</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="src\assets\fade.jpg" alt="Fade/Degradê">
  <mat-card-content>
    <p>
      Corte que cria uma transição suave entre diferentes comprimentos do cabelo. Pode ser adaptado a diferentes tipos de cabelo.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>AGENDAR</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Mullet Moderno</mat-card-title>
    <mat-card-subtitle>30 - 60 minutos</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="src\assets\mullet.jpg" alt="Mullet Moderno">
  <mat-card-content>
    <p>
      Corte que combina comprimentos diferentes com camadas e texturas. Mantem cabelos mais curtos na frente e laterais, e mais longos na parte de trás.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>AGENDAR</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Old Money</mat-card-title>
    <mat-card-subtitle>30 - 60 minutos</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="src\assets\old money.jpg" alt="Old Money">
  <mat-card-content>
    <p>
      Corte de comprimento médio a curto, com foco no topo da cabeça, e laterais e nucas bem aparadas. Transmite sofisticação e modernidade.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>AGENDAR</button>
  </mat-card-actions>
</mat-card>