<form action class="formulario">

        <label for="Nome" class="label1">Nome:</label>
        <input type class="input1" name="Nome" id="Nome">

        <label for="CPF" class="label1">CPF:</label>
        <input type class="input1" name="CPF" id="CPF">

        <label for="Data de nascimento" class="label1">Data de nascimento:</label>
        <input type class="input1" name="Data de nascimento" id="Data de nascimento">

        <label for="Telefone" class="label1">Telefone:</label>
        <input type class="input1" name="Telefone" id="Telefone">

        <label for="Como conheceu a barbearia" class="label1">Como conheceu a barbearia:</label>
        <input type class="input1" name="Como conheceu a barbearia" id="Como conheceu a barbearia">
        
        <button class="botao"> Salvar </button>

    </form>


  <mat-form-field appearance="legacy">
    <mat-label>Legacy form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>


  <mat-form-field appearance="standard">
    <mat-label>Standard form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Fill form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

