body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background: linear-gradient(135deg, #949196, #ec8eec);
  margin: 0;
  padding: 0;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 30px 20px;
}

.logo {
  width: 120px;
  height: auto;
}

.logo img {
  width: 90%;
  height: auto;
  display: block;
  border-radius: 30px;
}