body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background: linear-gradient(135deg, #000000, #868686);
  margin: 0;
  padding: 0;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #000000, #868686);
  padding: 8px 10px;
}

.logo {
  width: 100px;
  height: auto;
}

.logo img {
  width: 90%;
  height: auto;
  display: block;
  border-radius: 50px;
}

