<header>
    <div class="logo">
        <img src="../assets/logo easy cut.png" alt="Logo">
    </div>

    <div>
        <button mat-mini-fab disabled aria-label class="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
        </button>

        
    </div>

    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/cadastro">Cadastro</button>
        <button mat-menu-item routerLink="/servicos">Serviços</button>
    </mat-menu>



</header>

<body>
    
    <router-outlet></router-outlet>

</body>