 .formulario{
        width: 500px;
        margin: auto;
        padding: 30px;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

    .label1{
        display: block;
        margin-bottom: 6px;
    }

    .input1{
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

   .mat-form-field{
    padding: 8px;
   }

   .example-card {
  max-width: 400px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
  padding: 20px;
  box-sizing: border-box;
}

.example-card {
  width: 280px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
  transition: transform 0.2s ease-in-out; 
}

.example-card:hover {
  transform: scale(1.05);
}

